[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# RCS1163: Unused parameter.
dotnet_diagnostic.RCS1163.severity = silent
