QToolButton {
	margin: 0;
	padding: 2px;
	text-align: center;
	background: palette(button);
	color: palette(button-text);
	border: 1px solid transparent;
}
QToolButton:focus {
	border: 1px solid #000000;
}
QToolButton:hover {
	background: palette(highlight);
}
QToolButton:pressed {
	border: 1px solid #000000;
}

QToolButton.clickToCopy {
	padding: 0;
	margin: 0;
	border: 0;
	background: transparent;
	color: palette(link);
}
QToolButton.clickToCopy:focus {
	text-decoration: underline;
}
QToolButton.clickToCopy:hover {
	text-decoration: underline;
}
QToolButton.clickToCopy:pressed {
	background: transparent;
}

QToolButton.leaveNetworkButton {
	margin: 0 4px 3px 0;
}

QMainWindow {
	background: palette(dark);
}

QListWidget {
	background: transparent;
	padding: 0;
	margin: 0;
	border: 0;
}
QListWidget::item {
	background: palette(base);
	margin: 1px 0 1px 0;
}

QListWidget.ipAddressList {
	background: palette(button);
	margin: 0 4px 4px 0;
}
QListWidget.ipAddressList::item {
	background: transparent;
	color: palette(link);
	border-bottom: 1px solid transparent;
}
QListWidget.ipAddressList::item:selected {
	background: transparent;
	border-bottom: 1px solid transparent;
}
QListWidget.ipAddressList::item:hover {
	border-bottom: 1px solid palette(link);
}

QLabel.networkName {
	padding: 0 0.8em 0.1em 0;
	margin: 0;
	text-align: right;
}

#joinNetworkButton {
	margin: 1px;
	padding: 0;
}

#noNetworksLabel {
        background: transparent;
        color: #ffffff;
}

#networkListWidget {
	background: palette(dark);
	margin: 0 0 2px 0;
}

#bottomContainerWidget {
	background: palette(base);
}
