zerotier-*
/Makefile
*.o
.DS_Store
.Apple*
*.dSYM
mac-tap/tuntap/src/tap/tap
mac-tap/tuntap/tap.kext
/ipch
/ZeroTierOne.sdf
/ZeroTierOne.v11.suo
/vsprojects/SelfTest/Debug
/vsprojects/SelfTest/Release
/Debug
/Release
*.log
*.opensdf
*.user
