# Default for those who don't have core.autocrlf set
* text=auto

# Things that should be treated like text (lines converted on checkout):
*.c text
*.h text
*.py text
*.cmake text
*.md text
# This is for the output of table_test
*.expected text
*.xml

# Exceptions to the rule:
*.ac text eol=lf
*.am text eol=lf
*.m4 text eol=lf

