# Copyright The OpenTelemetry Authors
# SPDX-License-Identifier: Apache-2.0

Checks: >
  -*,
  performance-*,
  portability-*,
  abseil-*,
  -abseil-string-find-str-contains,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-inc-dec-in-conditions,
  -bugprone-narrowing-conversions,
  -bugprone-unchecked-optional-access,
  -bugprone-unhandled-exception-at-new,
  -bugprone-unused-local-non-trivial-variable,
  google-*,
  -google-build-using-namespace,
  -google-default-arguments,
  -google-explicit-constructor,
  -google-readability-avoid-underscore-in-googletest-name,
  -google-readability-braces-around-statements,
  -google-readability-namespace-comments,
  -google-readability-todo,
  -google-runtime-references,
  misc-*,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-alias-decls,
  -misc-use-anonymous-namespace,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-*