# Code owners file.
# This file controls who is tagged for review for any given pull request.

# For ETW exporter
exporters/etw/*  @reyang @maxgolov @lalitb @ThomsonTan @open-telemetry/cpp-approvers

# For anything not explicitly taken by someone else:
*       @open-telemetry/cpp-approvers
