/* Dark blue-grey: #234447
 * Light blue-grey: #91a2a3
 * Light yellow: #ffffcc
 * Orange: #ffb354 */

html,body {
	font-family: "Helvetica Neue","Lucida Sans Unicode",sans-serif;
	font-size: 12pt;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.zeroTierAddress {
	font-family: monospace;
}

.zeroTierNode {
	width: 100%;
	height: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	display: table;
}

.zeroTierNode > .top {
	width: 100%;
	overflow: hidden;
	display: table-row;
	white-space: nowrap;
	background: #234447;
	color: #ffffff;
	padding: 0;
	margin: 0;
}
.zeroTierNode > .top button {
	display: inline-block;
	padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	color: #ffffff;
	margin: 0;
	border: 0;
	outline: none;
	background: #234447;
	font-size: 12pt;
	cursor: pointer;
}
.zeroTierNode > .top button:hover {
	background: #91a2a3;
}
.zeroTierNode > .top button:disabled {
	background: #91a2a3;
}

.zeroTierNode > .middle {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: table-row;
}
.zeroTierNode > .middle > .middleScroll {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #eeeeee;
}
.zeroTierNode > .middle > .middleScroll > .networks {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	border-collapse: collapse;
}
.zeroTierNode > .middle > .middleScroll > .networks > .network {
	width: 100%;
	padding: 0;
	margin: 0;
	display: table-row;
	border-bottom: 1px solid #234447;
	background: #ffffff;
}
.zeroTierNode > .middle > .middleScroll > .peers {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peer {
	width: 100%;
	display: table-row;
	background: #ffffff;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peer .peerPath {
	font-size: 10pt;
	font-family: monospace;
	white-space: nowrap;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peer .peerPathInactive {
	font-size: 10pt;
	font-family: monospace;
	color: #bbbbbb;
	text-decoration: line-through;
	white-space: nowrap;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peer > .f {
	display: table-cell;
	font-size: 10pt;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peerHeader {
	width: 100%;
	display: table-row;
	background: #ffffff;
	border-bottom: 1px solid #000000;
}
.zeroTierNode > .middle > .middleScroll > .peers > .peerHeader > .f {
	display: table-cell;
	font-size: 10pt;
	font-weight: bold;
}

.zeroTierNode > .bottom {
	width: 100%;
	overflow: hidden;
	display: table-row;
	background: #234447;
	color: #ffffff;
}
.zeroTierNode > .bottom > .left {
	text-align: left;
	white-space: nowrap;
	float: left;
	padding: 0 0 0 0.5rem;
}
.zeroTierNode > .bottom > .left > .statusLine {
	font-family: monospace;
	white-space: nowrap;
	font-size: 12pt;
}
.zeroTierNode > .bottom > .right {
	background: #91a2a3;
	text-align: right;
	white-space: nowrap;
	float: right;
}
.zeroTierNode > .bottom > .right input {
	font-family: monospace;
	font-size: 12pt;
	background: #91a2a3;
	color: #ffffff;
	outline: none;
	border: 0;
	margin: 0;
	padding: 0.05rem 0.25rem 0.05rem 0.25rem;
	height: 100%;
	display: inline-block;
}
.zeroTierNode > .bottom > .right button {
	display: inline-block;
	font-size: 12pt;
	background: #ffb354;
	border: 1px solid #ffb354;
	color: #000000;
	margin: 0;
	padding: 0.05rem 0.75rem 0.05rem 0.75rem;
	height: 100%;
}
.zeroTierNode > .bottom > .right button:hover {
	cursor: pointer;
	border: 1px solid #000000;
}

.zeroTierNetwork {
	width: 100%;
	padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	margin: 0;
}
.zeroTierNetwork .networkInfo {
	padding: 0 0 0.5rem 0;
}
.zeroTierNetwork .networkProps {
	padding: 0 0 0.5rem 0;
	display: table;
}
.zeroTierNetwork .networkProps > .row {
	display: table-row;
}
.zeroTierNetwork .networkProps > .row > .name {
	display: table-cell;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}
.zeroTierNetwork .networkProps > .row > .value {
	display: table-cell;
	padding: 0.1rem 0.5rem 0.1rem 0.5rem;
	background: #eeeeee;
}
.zeroTierNetwork .ipList {
}
.zeroTierNetwork .ipAddress {
	font-family: monospace;
	font-size: 12pt;
}
.zeroTierNetwork .leaveNetworkButton {
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	margin: 0.5rem 0 0 0;
	font-size: 10pt;
	background: #ffffff;
	outline: none;
	background: #ffb354;
	border: 1px solid #ffb354;
	cursor: pointer;
}
.zeroTierNetwork .leaveNetworkButton:hover {
	border: 1px solid #000000;
}
