autom4te.cache
build-*.out
ChangeLog
CMakeFiles/CMakeTmp
confdefs.h
config.log
config.status
conftest
conftest.cpp
conftest.err
doc/_build
doc/Doxyfile
doc/html/Reference/*.css
doc/html/Reference/*.html
doc/html/Reference/*.js
doc/html/Reference/*.png
doc/html/Reference/*.map
doc/html/Reference/*.md5
doc/reference-stamp
include/pqxx/config-*-*.h
include/pqxx/config.h
include/pqxx/stamp-h1
libpqxx.pc
libpqxx-*.tar.gz
libtool
pqxx-config
pqxxlo.txt
test/pqxxlo.txt
tools/pqxxthreadsafety
tools/rmlo
README
win32/common
**/Makefile
**/*.la
**/*.lo
**/*.o
**/*.out
**/.*.swp
**/.swp
**/*.tmp
**/.deps
**/.libs
**/*~
**/lint.log
**/lint.trs
**/runner
**/runner.log
**/runner.trs
**/test-suite.log
